{% extends "base.html" %} {% block content %}
<html lang="en">
  <head>
    <title>Users</title>
  </head>
  <body>
    <h1>Local user</h1>
    <br />
    {% for to_username in users %}
    <li>
      {% if user %} {{ to_username }}
      <a href="{% url 'follow:create_follow_request' to_username %}"
        >Send follow request</a
      >
      {% endif %}
    </li>
    {% endfor %}
    <br />
    <h2>Following</h2>
    {% for following in followings %}
    <li>
      {% if user %} {{following}}
      <a href="{% url 'follow:remove_follow_request' following %}"
        >Stop following</a
      >
      {% endif %}
    </li>
    {% endfor %}
    <h2>Follower</h2>
    {% for follower in followers %}
    <li>
      {% if user %} {{follower}}
      <a href="{% url 'follow:unfollow_request' follower %}">Remove Follower</a>
      {% endif %}
    </li>
    {% endfor %}
    <h2>Request</h2>
    {% for request in request_list %}
    <li>
      <a href="{% url 'follow:accept_follow_request' request %}"
        >Accept request from {{request}}</a
      >
      <a href="{% url 'follow:reject_follow_request' request %}">Reject</a>
    </li>
    {% endfor %}
  </body>
</html>

{% endblock %}
