{% extends "base.html" %} {% block content %}
<style>
  img {
    width: 250px;
    height: 250px;
    border-color: #111;
    border-width: 1;
    border: rgb(17, 56, 139);
    border-radius: 50%;
  }
</style>

<h1>Full Name: {{object.get_full_name}}</h1>
<section class="intro">
  <div>
    <img
      id="profilephoto"
      class="center"
      src="{{ object.profile_image_url }}"
      alt="profile photo"
    />
  </div>

  <h2>Username: {{ object.username }}</h2>
  <h2>Github: {{ object.github_url }}</h2>
</section>
<ul>
  <li><a href="{% url 'posts:new' %}">New post</a></li>
</ul>
<!-- TODO: Inject user's posts here -->

{% endblock content %}
